.form {

    &__group:not(:last-child){
        margin-bottom: 2rem;
    }


    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border: none;
        transition: all 0.3s;
        // border bottom is added because &__input:focus has a border-bottom and when clicked the 
        // border appears and padding bottom stays the same and it pushed down the next form element.
        // So, i made the border-bottom transparent
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        // Currently selected Form input 

        
        @include respond(tab-port) {
            width: 100%;
        }
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        //selector for form element placeholder
        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }

        // when form shows form cannot be submitted because all fields don't have their valid values. like required fields. emails such things
        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }

    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__radio-input{
        display: none;
    }
    // input and label are siblings because they are on the same level .  child of parent element
        // + adjacent sibling selector .. selects next element after the selected element
        // in this case &__label is just after input
        // also for this to work label has to be after the input
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }


    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    &__radio-label{
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 5rem;
    }    


    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.5rem;
        
        &::after {
            content: "";
            height: 1.3rem;
            width: 1.3rem;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity 0.2s;
        }

    }
            &__radio-input:checked + &__radio-label &__radio-button::after {
                opacity: 1;
            }

}